[submodule "dep/nitrogen"]
	path = dep/nitrogen
	url = git://github.com/jordi-chacon/nitrogen.git
[submodule "dep/elogger"]
	path = dep/elogger
	url = git://github.com/etnt/elogger.git
[submodule "dep/eopenid"]
	path = dep/eopenid
	url = git://github.com/etnt/eopenid.git
[submodule "dep/gettext"]
	path = dep/gettext
	url = git://github.com/etnt/gettext.git
[submodule "dep/trane"]
	path = dep/trane
	url = git://github.com/massemanet/trane.git
