<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
    <title>[[[page:title()]]]</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fancybox-1.3.1.pack.js"></script>
    <script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
    <script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
    <script src='/js/polish.js' type='text/javascript' charset='utf-8'></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/nitrogen/nitrogen.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/polish.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    [[[page:layout()]]]

    <div id="search_box" style="display:none">
      <form id="search_form" method="get" action="">
	<p>
	  <label for="search_string">Search for</label><br/>
	  <input type="text" id="search_string" name="search_string" size="30" /><br/>
	  <label for="match_type">Match:</label><br/>
	  <input type="radio" id="match_type_any" name="match_type" value="any" checked/>Standard<br/>
	  <input type="radio" id="match_type_exact" name="match_type" value="exact" />Exact phrase<br>
	  <div id="keyvalue">
	    <label for="search_string">in </label>
	    <input type="checkbox" id="key" name="key" value="true" checked="true"/><a>Key</a>
	    <input type="checkbox" id="untranslated" name="untranslated" value="true" checked="true"/><a id="untranstext">Untranslated</a><br/>
	    <input type="checkbox" id="value" name="value" value="true"/><a>Translation</a>
	    <input type="checkbox" id="translated" name="translated" value="true" checked="true"/><a id="transtext">Translated</a>
	  </div>
	  <div id="transuntrans">
	    <input type="hidden" value="search" name="action" />
	    <input type="submit" class="button" value="Search" />
	  </div>
	</p>
      </form>
    </div>
    <div style="display:none">
      <div id="stats">
	[[[page:gen_stats()]]]
      </div>
    </div>
    <div id="_box" style="display:none">
      <div id="help">
	<h2>
	  Hi translator and welcome to Polish, a user-friendly translation tool!
	</h2>
	<br/>
	<h3>Basic flow</h3>
	<p>
	  1. In the top menu there is a list of languages. Click on the one that you would like
	  to translate sentences to.
	</p>
	<p>
	  2. What you see now is a list of the untranslated phrases for the selected language. 
	  The left column contains the phrases also called "keys" in the default language which
	  is Swedish in our case. The right column contains the phrases that should be translated 
	  to the selected language.
	</p>
	<p>
	  3. To translate a sentence, click on the text in the right side and a text area will appear.
	</p>
	<p>
	  4. Translate the text to the selected language and then click <span>Save translation</span>. If you 
	  do not want to save the translation, you can click <span>Cancel</span>. If you think
	  that the translation of this sentence is the same as in the default language, click
	  <span>Mark always as translated</span> and the system will consider this sentence as translated
	  forever.
	</p>
	<p>
	  5. In order for the new translations to take effect you need to submit your translations. 
	  You can submit them by clicking <span>Submit translations</span> in the top menu. A list of 
	  all the changes that you have done will be shown and you can revise them if you need to. 
	  Once you are confident with your translations you can click the <span>Submit</span> button 
	  to submit your translations.
	</p>
	<br/>
	<br/>
	<h3>Search</h3>
	<p>
	  Polish also allows you to search for words or parts of words. You can click
	  <span>Search</span> in the top menu. A simple form will appear where you can select your 
	  searching criteria.
	</p>
	<br/>
	<br/>
	<h3>Status</h3>
	<p>
	  Polish allows multiple translators to work at the same time in the same language. You are able to 
	  see who is currently translating by clicking <span>Status</span> in the top menu. The status 
	  panel also contains information about the selected language, such as the total number of phrases, 
	  the total number of untranslated phrases, and also who is currently translating the same language, 
	  and how many unsubmitted phrases they have.
	</p>
	<br/>
	<br/>
	<p>
	  That's it! Pretty easy right? You can now start using Polish and translate sentences in 
	  a cool and easy way! :-)
	</p>
      </div>
    </div>


    <script>
      [[[script]]]
    </script>
  </body>
</html>
